.completed .task-text {
  text-decoration: line-through;
  opacity: 0.6;
}

.actions button {
  margin-left: 6px;
  cursor: pointer;
}

.filter-btn.active {
  background: #333;
  color: white;
}

input[type=text] {
  margin: 1%;
}

button {
  margin-top: 1%;
  margin-left: 1%;
}

h1 {
  margin: 1%;
}